
# PlanAhead Generated IO constraints 

NET "L[7]" IOSTANDARD = LVCMOS33;
NET "L[6]" IOSTANDARD = LVCMOS33;
NET "L[5]" IOSTANDARD = LVCMOS33;
NET "L[4]" IOSTANDARD = LVCMOS33;
NET "L[3]" IOSTANDARD = LVCMOS33;
NET "L[2]" IOSTANDARD = LVCMOS33;
NET "L[1]" IOSTANDARD = LVCMOS33;
NET "L[0]" IOSTANDARD = LVCMOS33;
NET "N[3]" IOSTANDARD = LVCMOS33;
NET "N[2]" IOSTANDARD = LVCMOS33;
NET "N[1]" IOSTANDARD = LVCMOS33;
NET "N[0]" IOSTANDARD = LVCMOS33;
NET "clock" IOSTANDARD = LVCMOS33;
NET "clock_text" IOSTANDARD = LVCMOS33;
NET "D2" IOSTANDARD = LVCMOS33;
NET "D1" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clock" LOC = B8;
NET "clock_text" LOC = C6;
NET "D1" LOC = M5;
NET "D2" LOC = M11;
NET "reset" LOC = A7;
NET "N[3]" LOC = K14;
NET "N[2]" LOC = M13;
NET "N[1]" LOC = J12;
NET "N[0]" LOC = F12;
NET "L[7]" LOC = L14;
NET "L[6]" LOC = H12;
NET "L[5]" LOC = N14;
NET "L[4]" LOC = N11;
NET "L[3]" LOC = P12;
NET "L[2]" LOC = L13;
NET "L[1]" LOC = M12;
NET "L[0]" LOC = N13;
NET "clock_text" CLOCK_DEDICATED_ROUTE = FALSE; 
